@charset "UTF-8";

body{
    background-image: url(coracoes.jpg);
    background-position: center ;
}
header{
    padding: 20px;
  
}


    

section{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 88%;
    
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    
    

}
section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
section p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-indent: 8px;
    font-size: 2em;
}
img{
    margin: auto;
    display: block;
    width: 100%;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}